/* ==========================================================================
	ABOUT PAGE
========================================================================== */
.about {
  &__header {
    font-size: 32px;
    text-align: center;
  }

  &__sub-header {
    font-size: 18px;
    padding: 1em 0;
    text-align: center;
  }

  &__features {
    display: flex;
    flex-direction: row;
    padding: 4em 0;
    text-align: center;
  }

  &__features-box {
    background: #F9F9FF;
    text-align: start;
    width: 33.33%;
  }

  &__features-title {
    font-size: 18px;
    padding: 1em 0;
  }

  &__features-drafting {
    width: 52px;
    height: 52px;
    position: relative;
    use {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}