/* ==========================================================================
	VARIABLES
========================================================================== */
$color-black: #111111;
$color-white: #FFFFFF;
$color-red: #FF4136;
$color-blue: #0074D9;
$color-purple: #B10DC9;
$color-orange: #FF851B;
$color-yellow: #FFDC00;
$color-green: #2ECC40;
$color-gray: #AAAAAA;
