extends ../templates/main-layout

block content
  .about#about
    .about__column-1
      .about__container
        h1.about__header
          | About
        p.about__text
          | We are a creative team of designers, We make website, interfcae and identity. We believe that beuty is hidden in small things.
        button.btn.btn--primary#about_btn
          | Learn more
    .about__column-2
      .about__img
        img(src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80") 
    .about__column-3
      .about__video
        img(src="https://raw.githubusercontent.com/imoralescs/imoralescs.github.io/master/images/ezgif.com-gif-maker.gif")