extends ../templates/main-layout

block content
  .home#home
    .home__column-1
      .home__container
        h1.home__header
          | Transforming the way organizations define, design, and build software.
        p.home__text
          | We connect strategy with agile technology delivery and cloud and data services to bring your organization most valuable software-driven experiences to life.
        button.btn.btn--primary#home_btn
          | Learn more
    .home__column-2 
      .home__img
        img(src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80")
