header#header.header(role="header")
  svg#header_logo.header__logo
    use(xlink:href='icons.svg#basic-logo')
  nav.navigation
    a.navigation__item(href="/" alt="Home") Home
    a.navigation__item(href="/about" alt="About Us") About
    a.navigation__item(href="#") Services
    a.navigation__item(href="#") Case studies
    a.navigation__item(href="#") Contact
